<html><head>
    
    <title>
    
        About Me | Gitau Harrison
    
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

    <link rel="icon" type="image/png" href="/static/images/head_gitauharrison.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&amp;family=Roboto:wght@100;300&amp;display=swap" rel="stylesheet">

    <!-- dataTable.js -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">


  <style data-styled="active" data-styled-version="5.3.5"></style></head>
  <body data-new-gr-c-s-check-loaded="14.1086.0" data-gr-ext-installed="">
    
    
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=" /blog ">gitauharrison.com</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a href=" /AboutMe ">About Me</a></li>
                        <li><a href=" /portfolio ">Portfolio</a></li>
                        <li><a href=" /help ">Need help?</a></li>
                    </ul>                       
                </div>
            </div>
        </nav>
    

    
    
        <div class="container">                 
            
<div class="row">
    <div class="col-sm-2 sidebar">
        <div class="mini-submenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item tablinks active" onclick="openCity(event, 'about-me')" id="defaultOpen">
                About Me
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'projects')">
                Projects
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'books')">
                Books
            </a>
            <a href="#" class="list-group-item tablinks" onclick="openCity(event, 'social')">
                Social
            </a>
        </div>   
    </div>
    <div class="col-sm-10 ">
        <div id="about-me" class="tabcontent" style="display: block;">
            <div class="row">
                <div class="col-sm-4">
                        <img class="img-fluid" style="max-width: 100%; height: auto; border: 1px solid #fff;" src="/sample_portfolio/app/templates/images/TinkerTeacher.jpeg">
                        <p class="text-center">Gitau Harrison</p>
                </div>
                <div class="col-sm-8">
                    <h1>Hey There! 👋</h1>
                    <h2>Background</h2>
                    <p>
                        I am currently a staff at <a href="http://tinkeredu.net/">Tinker Education</a>, 
                        a leading STEM learning center for young kids in Nairobi, Kenya. I am a huge fan of the STEM field. 
                        Working with young children to raise their creativity, critical thinking, and problem solving skills 
                        is something I have, over time, become passionate about.
                    </p>

                    <h2>Location</h2>
                    <p>
                        I am currently living in Nairobi, Kenya. This is my home city. I would love to return to Gangnam-gu, 
                        Seoul, South Korea. While there, during a visit to <a href="http://emcast.com/">EMCAST</a>, I actively 
                        began to work on developing production software.
                    </p>

                    <h2>Interests</h2>
                    <p>
                        I blog about programming and web development for now. Additionally, I am interested in physical 
                        computing, robotics, and the Internet of Things. Daily, I am either running on the streets and country side,
                        or working out at the <a href="https://smartgyms.co.ke/">SmartGyms</a>, Nairobi. Capentry and playing musical instruments 
                        are activities I would love to pursue in the near future. Later on, I would love to dabble in motorcross championships.
                    </p>

                    <h2>Gratitude</h2>
                    <p>
                        Thank you for stopping by. I hope you find something of interest here. If you like anything on this site, or would 
                        like clarification of the contents blogged here, please feel free to let me know. I will be glad to hear from you 
                        in the comments sections.<br><br>Special shoutout to <a href="https://blog.miguelgrinberg.com/index">Miguel Grinberg</a>!
                        Obviously, you can note that there is a lot of inspiration from him and his work. I would like to thank him for freely
                        sharing his work with the world.
                    </p>

                    <h2>About this site</h2>
                    <p>
                        The thought of building an application from scratch sounded like a great challenge. Initially, I began by creating a 
                        <a href="https://gitauharrison-blog.herokuapp.com/home">demo personal website</a>. Several things became obvious to me
                        during the development of the demo blog, hence, this update. This site is built entirely by me, 
                        using Python and the Flask framework. I have written all the code that runs this platform. 
                    </p>
                </div>
            </div>
        </div>

        <!-- End of about me -->

                    <!-- PROJECTS TAB -->
                    <div id="projects" class="tabcontent" style="display: none;">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>Projects in Mind</h1>
        
                                <!-- Projects timeline -->
                                <div class="timeline">
                                    <div class="container-timeline left">
                                      <div class="content">
                                        <h2>Personal Website</h2>
                                        <p class="personal-website">
                                            The idea of building a personal website from scratch was an interesting challenge. 
                                            I started by creating a demo personal website. Right now,
                                            I intend to make one for myself that I can use to showcase my work and projects.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="container-timeline right">
                                      <div class="content">
                                        <h2>eLearning App</h2>
                                        <p class="elearning-website">
                                            It is possible to conduct very effective classes online. Students can be truely 
                                            engaged in the learning process, and teacher(s) can provide personalized 
                                            feedback on each student's learning process.                                    
                                        </p>
                                      </div>
                                    </div>
                                    <div class="container-timeline left">
                                      <div class="content">
                                        <h2>Video Call App</h2>
                                        <p>
                                            There has been an increased uptake of video calling facilities since the outbreak of 
                                            Covid-19. This will be an attempt to recreate the solution to online meetings.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="container-timeline right">
                                      <div class="content">
                                        <h2>Work Management System</h2>
                                        <p>
                                            Without a doubt, the workplace can be a cluttered place. An employee may have to navigate 
                                            through endless software applications used in the office. These could be Google Drive Suite,
                                            Slack, Trello, etc. This will be an attempt to create a platform that will allow employees to
                                            access their work in a more organized manner.
                                        </p>
                                      </div>
                                    </div>
                                    <div class="container-timeline left">
                                      <div class="content">
                                        <h2>Live Chat App</h2>
                                        <p>
                                            It is almost magical how you can send a message to a friend and they receive it almost immediately.
                                            They can even reply in an instant. This is not uncommon. Most chat applications do this already. 
                                            Understanding the technology behind this is a challenge I am looking forward to.
                                        </p>
                                      </div>
                                    </div>
                                </div>
                                <!-- End of projects timeline -->
        
                                  <br>
                                  <h1>Currently Working On ... </h1>
        
                                  <!-- Row of Current Projects Cards -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- Card 1 -->
                                            <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h3 class="card-title text-center">eLearning Application</h3><hr>
                                                        <p class="card-text">
                                                            This application will be a platform for teachers to create courses, and
                                                            students to learn what they really want to learn in an interactive online experience.
                                                            Parents can also monitor their child's progress.
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="https://www.figma.com/proto/AzhdESXorALZD9F0rPUeEs/somasoma_version3_student?node-id=5%3A17&amp;scaling=min-zoom&amp;page-id=0%3A1&amp;starting-point-node-id=5%3A17&amp;show-proto-sidebar=1" class="btn " target="_blank">Design↗</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="https://github.com/GitauHarrison/somasoma-eLearning-app" class="btn " target="_blank">Repo↗</a>
                                                            </div>
                                                        </div>
                                                    </div>            
                                                </div>
                                            </div>
                                            <!-- End of Card 1 -->
                                        </div>
                                        <!-- <div class="col-sm-6"> -->
                                            <!-- Card 2 -->
                                            <!-- <div class="card-deck">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h3 class="card-title text-center">Mbeca Ciaku</h3><hr>
                                                        <p class="card-text">
                                                            This is a personal record-taking finance application. It allows a user to "see" 
                                                            how their money comes in and goes out. They get a graphical presentation of their
                                                            financial statement.
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn " target="_blank">Design&#8599;</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn " target="_blank">Repo&#8599;</a>
                                                            </div>
                                                        </div>
                                                    </div>            
                                                </div>
                                            </div> -->
                                            <!-- End of Card 2 -->
                                        <!-- </div> -->
                                        <div class="col-sm-6">
                                            <!-- Card 2 will go here -->
                                        </div>
                                        <!-- More columns will appear here-->
                                    </div>
                                    <!-- End of projects being worked on -->
        
                                    <br>
                                    <h1>Completed Personal Projects</h1>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <!-- Card 1 -->
                                            <div class="card-deck">
                                                <div class="card">
                                                    <img class="img img-fluid" style="max-width: 50%; height: auto; border: 1px solid #fff;" src="/static/images/personal_website.png" alt="Gitau Harrison">
                                                    <div class="card-body">
                                                        <h3 class="card-title text-center">Personal Website</h3><hr>
                                                        <p class="card-text">
                                                            This is the final version of my personal website.
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="https://www.gitauharrison.com" class="btn " target="_blank">Live Project↗</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="#" class="btn " target="_blank">Contributors↗</a>
                                                            </div>
                                                        </div>
                                                    </div>            
                                                </div>
                                            </div>
                                            <!-- End of Card 1 -->
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Card 1 -->
                                            <div class="card-deck">
                                                <div class="card">
                                                    <img class="img img-fluid" style="max-width: 50%; height: auto; border: 1px solid #fff;" src="/static/images/projects/byvd.gif" alt="YouTbe Video Downloader">
                                                    <div class="card-body">
                                                        <h3 class="card-title text-center">YouTube Video Downloader</h3><hr>
                                                        <p class="card-text">
                                                            Want to download any video from YouTube? This is the application for you.
                                                            Copy and paste the link here.
                                                        </p>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <a href="https://byvd-app.herokuapp.com/" class="btn " target="_blank">Live Project↗</a>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <a href="https://github.com/GitauHarrison/youtube-video-downloader/graphs/contributors" class="btn " target="_blank">Contributors↗</a>
                                                            </div>
                                                        </div>
                                                    </div>            
                                                </div>
                                            </div>
                                            <!-- End of Card 1 -->
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- Card 2 will go here -->
                                        </div>
                                        <!-- More columns will appear here-->
                                    </div>
                                    <p>
                                        <a href=" /portfolio ">See more here ...</a>
                                    </p>
                                    <!-- End of completed projects -->
                            </div>
                        </div>
                    </div>
                
            <!-- BOOKS TAB -->
            <div id="books" class="tabcontent" style="display: none;">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>What's Occupying My Mind ( 3 )</h1>
                                               
                            <!-- Book 1 -->
                            <div class="row book">
                                <div class="col-sm-6">
                                    <p>
                                        <img class="img img-fluid" style="max-width: 100%; height: auto; border: 1px solid #fff;" src="static/images/uploads/thinkandgrowrich.jpg" alt="Think and Grow Rich">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        Author: Napoleon Hill<br>
                                        Editor: Ballantine Books<br>
                                    </p>
                                    <p>
                                        
                                            </p><p>Think and Grow Rich is the combined wisdom from more than 500 of America’s most successful individuals. Their insights were then narrowed down into 13 principles and contribute to what Hill refers to as an overall “Philosophy of Achievement.”</p>
<p>However, refusing to let Think and Grow Rich be defined purely as a method or system for success, Hill stated that the goals of his book were:</p>
<ol>
<li>To help the reader become self-aware.</li>
<li>To help the reader understand how to become more effective amidst the immutable laws of the universe.</li>
</ol>
                                        
                                    <p></p>
                                </div>
                            </div>
                            <!-- End of book 1 -->
                            <br>
                                               
                            <!-- Book 1 -->
                            <div class="row book">
                                <div class="col-sm-6">
                                    <p>
                                        <img class="img img-fluid" style="max-width: 100%; height: auto; border: 1px solid #fff;" src="static/images/uploads/hooked.jpg" alt="Hooked">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        Author: Nir Eyal<br>
                                        Editor: Ryan Hoover<br>
                                    </p>
                                    <p>
                                        
                                            </p><p>Why do some products capture widespread attention while others flop? What makes us engage with certain products out of sheer habit? Is there a pattern underlying how technologies hook us?</p>
<p>Nir Eyal answers these questions (and many more) by explaining the Hook Model—a four-step process embedded into the products of many successful companies to subtly encourage customer behavior. Through consecutive “hook cycles,” these products reach their ultimate goal of bringing users back again and again without depending on costly advertising or aggressive messaging.</p>
                                        
                                    <p></p>
                                </div>
                            </div>
                            <!-- End of book 1 -->
                            <br>
                                               
                            <!-- Book 1 -->
                            <div class="row book">
                                <div class="col-sm-6">
                                    <p>
                                        <img class="img img-fluid" style="max-width: 100%; height: auto; border: 1px solid #fff;" src="static/images/uploads/outwitting_the_devil.jpg" alt="Outwitting The Devil">
                                    </p>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        Author: Napoleon Hill<br>
                                        Editor: Sharon L. Lechter<br>
                                    </p>
                                    <p>
                                        
                                            </p><p>Using his legendary ability to get to the root of human potential, Napoleon Hill digs deep to reveal how fear, procrastination, anger, and jealousy prevent us from realizing our personal goals. This long-suppressed parable, once considered too controversial to publish, was written by Hill in 1938 following the publication of his classic bestseller, Think and Grow Rich.</p>
                                        
                                    <p></p>
                                </div>
                            </div>
                            <!-- End of book 1 -->
                            <br>
                        
                        <!-- Pagination -->
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous disabled">
                                    <a href="#">
                                        <span aria-hidden="true">&lt;</span> Newer posts
                                    </a>
                                </li>
                                <li class="next disabled">
                                    <a href="#">
                                        Older posts <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- End of pagination -->
                    </div>
                </div>
            </div>
            <!-- END OF BOOKS TAB -->

            <!-- SOCIAL TAB -->
            <div id="social" class="tabcontent" style="display: none;">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Casual Conversations</h1>
                        <p>
                            It doesn’t have to be so serious all the time. We can chat and hangout,  
                            both professionally and non-professonally, on a few social media platforms I have subscribed to.
                        </p>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Professional</th>
                                    <th scope="col">Blog/Vlog</th>
                                    <th scope="col">Hangout</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="https://www.linkedin.com/in/gitauharrison/" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/linkedin.png" alt="LinkedIn"> LinkedIn
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.youtube.com/channel/UCqgJYnYPX99euaH2eoXfGyw" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/youtube.png" alt="Youtube"> YouTube
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/GitauHarrison1" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/twitter.png" alt="Twitter"> Twitter
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://github.com/GitauHarrison" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/github.png" alt="GitHub"> GitHub
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.gitauharrison.com/blog" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto; width: 48px; height: 48px;" src="/static/images/head_gitauharrison.png" alt="GitauHarrison on Website"> Website
                                        </a> | 
                                        <a href="https://medium.com/@gitauharrison" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/medium.png" alt="GitauHarrison on Medium"> Medium
                                        </a>
                                    </td>
                                    <td>
                                        <a href="https://www.strava.com/athletes/gitau_harrison" target="_blank">
                                            <img style="border: 1px solid #fff; max-width: 100%; height: auto;" src="/static/images/social-media/strava.png" alt="Strava"> Strava
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>
                            We can also have a cup of coffee and talk about anything we mutually like 😀.
                        </p>
                    </div>
                </div>
            </div>
            <!-- END OF SOCIAL TAB -->   
    </div>
</div>

        </div>
    
    <!-- Footer will go here -->
    


    
        
    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/Ixi5IiChXmIG6rRkjUa1qXHT/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-j2sah26WlMKQf8EQXBOwWyutNl4NgB7gRqS2vh6bQQwqHC1ZaweKdpbn33FwSCd8"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<script>
moment.locale("en");
function flask_moment_render(elem) {
    const timestamp = moment(elem.dataset.timestamp);
    const func = elem.dataset.function;
    const format = elem.dataset.format;
    const timestamp2 = elem.dataset.timestamp2;
    const no_suffix = elem.dataset.nosuffix;
    const units = elem.dataset.units;
    let args = [];
    if (format)
        args.push(format);
    if (timestamp2)
        args.push(moment(timestamp2));
    if (no_suffix)
        args.push(no_suffix);
    if (units)
        args.push(units);
    elem.textContent = timestamp[func].apply(timestamp, args);
    elem.classList.remove('flask-moment');
    elem.style.display = "";
}
function flask_moment_render_all() {
    const moments = document.querySelectorAll('.flask-moment');
    moments.forEach(function(moment) {
        flask_moment_render(moment);
        const refresh = moment.dataset.refresh;
        if (refresh && refresh > 0) {
            (function(elem, interval) {
                setInterval(function() {
                    flask_moment_render(elem);
                }, interval);
            })(moment, refresh);
        }
    })
}
document.addEventListener("DOMContentLoaded", flask_moment_render_all);
</script>
        <!-- Tabs -->
        <script>
            function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }

            
                document.getElementById("defaultOpen").click();
                        
        </script>

        <script>
            $(function(){

                $('#defaultOpen').on('click',function() {			        
                    $(this).closest('.list-group').fadeOut('slide',function(){
                        $('.mini-submenu').fadeIn();	
                    });
                    
                });

                $('.mini-submenu').on('click',function(){		
                    $(this).next('.list-group').toggle('slide');
                    $('.mini-submenu').hide();
                })
                });
        </script>
        <!-- End of tab -->


        <!-- Calendly -->
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async=""></script>

        <!-- Phone number dropdown-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
        <script>
            $("#verification_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#verification_phone").parent().append('<div><input type="tel" id="_verification_phone"></div>');
            $("#_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_verification_phone").intlTelInput("setNumber", $('#verification_phone').val());
            $('#_verification_phone').blur(function() {
                $('#verification_phone').val($('#_verification_phone').intlTelInput("getNumber"));
            });
        </script>

        <!-- dataTable.js -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

        <!-- reCaptcha Integration -->
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

        <!-- Markdown rich-text editor -->
        
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-220706978-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-220706978-1');
        </script>

        <!-- ChartJS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        
</html>