<html><head>
    
    <title>
    
        Blog | Definetly Gitau Harrison
    
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">

    <link rel="icon" type="image/png" href="/static/images/head_gitauharrison.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&amp;family=Roboto:wght@100;300&amp;display=swap" rel="stylesheet">

    <!-- dataTable.js -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">


  <style data-styled="active" data-styled-version="5.3.5"></style></head>
  <body data-new-gr-c-s-check-loaded="14.1086.0" data-gr-ext-installed="">
    
    
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=" /blog ">definetlygitauharrison.com</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">            
                    <ul class="nav navbar-nav navbar-right"> 
                        <li><a href="/AboutMe">About Me</a></li>
                        <li><a href=" /portfolio ">Portfolio</a></li>
                        <li><a href=" /help ">Need help?</a></li>
                    </ul>                       
                </div>
            </div>
        </nav>
    

    
    
        <div class="container">                 
            
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#articles">Articles</a></li>
                <li><a data-toggle="tab" href="#projects">Projects You Can Build</a></li>
            </ul>
            
            <div class="tab-content">
                <!-- ARTICLES TAB -->
                <div id="articles" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="heading-articles">There Is More To Learn</h2>
                        </div>
                    </div>
                    <!-- Article 1 -->
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Download and Encrypt PDFs in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-08-15T10:25:38Z" data-function="format" data-format="LL" data-refresh="0" style="">August 15, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>PDF documents are not editable by nature. They are the sole read-only file format that can’t be altered without leaving a footprint. This allows the effective tracking of changes in respective documents. Encryption can be enabled in the document to protect it wherever it goes, independent of storage or transport. As complex as this entire document creation and encryption process seems to be, Flask allows for the integration of this feature in an application.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/working-with-pdfs-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Visualize Data in Your Flask App Using ChartJS </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-08-08T08:25:12Z" data-function="format" data-format="LL" data-refresh="0" style="">August 8, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>Data visualization is the graphic representation of information. This could be in the form of a chart, diagram, map, or picture. In the world of Big Data, data visualization tools and technologies are essential for analyzing large datasets and making data-driven decisions.</p>
<p>ChartJs is a free and open-source JavaScript library used to make HTML-based charts. It is powerful enough to reproduce very responsive charts and plots. You can use it to plot static and constantly changing data.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/data-visualization-with-flask-and-chartjs " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Comment Moderation in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-31T11:50:09Z" data-function="format" data-format="LL" data-refresh="0" style="">July 31, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>As an administrator of an online application, have you been worried about the quality of comments that appear on your site? Comment moderation is an attempt to promote healthy conversations on your platform. </p>
<p>Typically, a user may register and jump into the comments section to experience the application's community. To ensure that warm engagements are maintained throughout, moderators will have first access to all user comments before allowing them into the community.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/comment-moderation-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Push Notifications Using Twilio Authy API in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-21T16:28:28Z" data-function="format" data-format="LL" data-refresh="0" style="">July 21, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>Push notifications are messages that pop up on a user’s mobile phone or desktop device via their chosen web browser. These little banners slide into view — whether or not your app or website is open.</p>
<p>Push notification can also be used to authenticate a user silently without requiring their active participation in the authentication process as is the case with token-based methods. All a user needs to do is click a button to either approve or deny access to an account.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/authentication/twilio-authy-api-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Two-factor Authentication Using Twilio Verify API in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-21T16:21:38Z" data-function="format" data-format="LL" data-refresh="0" style="">July 21, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>The Twilio Verify Rest API allows you to verify that a user has a claimed device in their possession. This device will receive a verification code that could be used to authenticate a user into an account. You can choose what channels you'd like to use to verify a user of an application, either via SMS, voice, WhatsApp or email.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/authentication/twilio-verify-api-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Time-based One-Time Password Authentication in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-21T16:12:46Z" data-function="format" data-format="LL" data-refresh="0" style="">July 21, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>Two-factor authentication (2FA) is a security protocol that protects users by asking them to verify their identity using two methods of authentication. Organizations use 2FA techniques to safeguard their clients' data from unauthorized access.</p>
<p>Time-based one-time password (TOTP) is one method of implementing two-factor authentication where users are required to not only provide their passwords, but also a time-bound numeric token sent to their device. The token is counter-checked against a generated token before access is granted.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/authentication/time-based-one-time-password-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> User Authentication in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-21T15:51:18Z" data-function="format" data-format="LL" data-refresh="0" style="">July 21, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>User authentication is a method that keeps unauthorized users from accessing sensitive information. Depending on the application, user data may be limited to only those with access to an account. </p>
<p>Typically, users are identified by their username, email, phone number, or password. The most basic form of user authentication is the password-based type. However, due to several reasons, this method does not guarantee the security of a user's account.</p>
<p>There are several other technologies we can utilize to help ensure that a user of an online application is safe from exposure and potential damage. In this article, we will look at a few methods that can be implemented in <strong>Flask</strong> to ensure data safety.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/authentication/overview " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Integrate Google Recaptcha in Flask Web Forms </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-07-02T17:49:10Z" data-function="format" data-format="LL" data-refresh="0" style="">July 2, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>It is fairly common that web forms can be misused, sometimes for malicious reasons. As a developer, how do you protect against automated responses? You can use the Completely Automated Public Turing test, a type of challenge-response test, to tell computers from humans. </p>
<p>Although CAPTCHAs are designed to block automated bots, CAPTCHAs are themselves automated. They're programmed to pop up in certain places on a website, and they automatically pass or fail users.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/google-recaptcha-in-flask " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> Handling Rich Text in Flask </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-06-25T02:17:03Z" data-function="format" data-format="LL" data-refresh="0" style="">June 25, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>Rich text is a more exciting way of writing text, where you have the option to add common formatting features such as bold, italics, links, and more, commonly found in 'what you see is what you get' text editors. Additionally, you can have a preview of the text you are writing so as to know what the output will look like eventually. </p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/rich-text " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                    
                        <div class="article-card" id="allowed-articles">
                            <div class="row">
                                <div class="col-md-12">                                
                                    <div class="row">
                                        <div class="col-sm-10 title-article-card">
                                            <h3> How To Deploy a Flask App on Docker Containers </h3>
                                        </div>
                                        <div class="col-sm-2 date-article-card">
                                            <p> <span class="" data-timestamp="2022-06-14T16:48:44Z" data-function="format" data-format="LL" data-refresh="0" style="">June 14, 2022</span> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    
                                        <p>Docker is an open-source containerization platform. It enables developers to package applications into containers—standardized executable components combining application source code with the operating system (OS) libraries and dependencies required to run that code in any environment. The isolation and security allow you to run many containers simultaneously on a given host.</p>
<p>More portable and resource-efficient than virtual machines (VMs), containers have become the de facto compute units of modern cloud-native applications.</p>
                                    
                                    <a href=" https://www.gitauharrison.com/articles/articles/deployment/deploy-your-flask-app-on-docker-containers " class="btn">Learn More</a>
                                </div>
                            </div>                    
                        </div>
                        
                                           
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Pagination of articles -->
                            <nav aria-label="...">
                                <ul class="pager">
                                    <li class="previous disabled">
                                        <a href="#">
                                            <span aria-hidden="true">&lt;</span> Newer posts
                                        </a>
                                    </li>
                                    <li class="next">
                                        <a href="/blog?page=2#allowed-articles">
                                            Older posts <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- End of pagination of articles -->
                        </div>
                    </div>
                    <!-- End of Artile 1 -->                    
                </div>
                <!-- END OF BLOG ARTICLES TAB -->

                <!-- TUTORIAL PROJECTS TAB -->
                <div id="projects" class="tab-pane fade">
                    <h2 class="heading-projects">Challenge Yourself With These Projects</h2>
                    <div class="row">
                        

                        <div class="row">
                            <div class="col-md-12">
                                <!-- Pagination of projects -->
                                <nav aria-label="...">
                                    <ul class="pager">
                                        <li class="previous disabled">
                                            <a href="#">
                                                <span aria-hidden="true">&lt;</span> Newer posts
                                            </a>
                                        </li>
                                        <li class="next disabled">
                                            <a href="#">
                                                Older posts <span aria-hidden="true">&gt;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- End of pagination of projects -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF TUTORIAL PROJECTS TAB -->
            </div>
        </div>
    </div>

        </div>
    
    <!-- Footer will go here -->
    


    
        
    <script type="text/javascript" async="" src="https://www.gstatic.com/recaptcha/releases/Ixi5IiChXmIG6rRkjUa1qXHT/recaptcha__en.js" crossorigin="anonymous" integrity="sha384-j2sah26WlMKQf8EQXBOwWyutNl4NgB7gRqS2vh6bQQwqHC1ZaweKdpbn33FwSCd8"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
<script>
moment.locale("en");
function flask_moment_render(elem) {
    const timestamp = moment(elem.dataset.timestamp);
    const func = elem.dataset.function;
    const format = elem.dataset.format;
    const timestamp2 = elem.dataset.timestamp2;
    const no_suffix = elem.dataset.nosuffix;
    const units = elem.dataset.units;
    let args = [];
    if (format)
        args.push(format);
    if (timestamp2)
        args.push(moment(timestamp2));
    if (no_suffix)
        args.push(no_suffix);
    if (units)
        args.push(units);
    elem.textContent = timestamp[func].apply(timestamp, args);
    elem.classList.remove('flask-moment');
    elem.style.display = "";
}
function flask_moment_render_all() {
    const moments = document.querySelectorAll('.flask-moment');
    moments.forEach(function(moment) {
        flask_moment_render(moment);
        const refresh = moment.dataset.refresh;
        if (refresh && refresh > 0) {
            (function(elem, interval) {
                setInterval(function() {
                    flask_moment_render(elem);
                }, interval);
            })(moment, refresh);
        }
    })
}
document.addEventListener("DOMContentLoaded", flask_moment_render_all);
</script>
        <!-- Tabs -->
        <script>
            function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
            }

            
                document.getElementById("defaultOpen").click();
                        
        </script>

        <script>
            $(function(){

                $('#defaultOpen').on('click',function() {			        
                    $(this).closest('.list-group').fadeOut('slide',function(){
                        $('.mini-submenu').fadeIn();	
                    });
                    
                });

                $('.mini-submenu').on('click',function(){		
                    $(this).next('.list-group').toggle('slide');
                    $('.mini-submenu').hide();
                })
                });
        </script>
        <!-- End of tab -->


        <!-- Calendly -->
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async=""></script>

        <!-- Phone number dropdown-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput-jquery.min.js"></script>
        <script>
            $("#verification_phone").css({position: 'absolute', top: '-9999px', left: '-9999px'});
            $("#verification_phone").parent().append('<div><input type="tel" id="_verification_phone"></div>');
            $("#_verification_phone").intlTelInput({
                separateDialCode: true,
                utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/utils.js",
            });
            $("#_verification_phone").intlTelInput("setNumber", $('#verification_phone').val());
            $('#_verification_phone').blur(function() {
                $('#verification_phone').val($('#_verification_phone').intlTelInput("getNumber"));
            });
        </script>

        <!-- dataTable.js -->
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

        <!-- reCaptcha Integration -->
        <script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>

        <!-- Markdown rich-text editor -->
        
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.min.js"></script>


        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-220706978-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-220706978-1');
        </script>

        <!-- ChartJS -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        
    
</html>